{% extends 'base.html' %}

{% block head %}
<title>Add New Admin</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/add_admin.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Add New Admin</h1>
    <form action="/admin/add_admin" method="POST">
        <label for="username">Nom</label>
        <input type="text" name="username" id="username" required>

        <label for="fonction">Prenom</label>
        <input type="text" name="prenom" id="prenom" required>

        <label for="matricule">Matricule:</label>
        <input type="text" name="matricule" id="matricule" required>

        <label for="fonction">Fonction</label>
        <input type="text" name="fonction" id="fonction" required>

        <label for="fonction">Shift</label>
        <input type="text" name="shift" id="shift" required>

        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Create Admin">
    </form>
</div>
{% endblock %}