{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center">Conference Data</h1>

{% if current_user.is_authenticated %}
<p style="text-align: center">
    <a href="{{ url_for('auth.logout') }}">Logout</a>
</p>
{% endif %}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Conference File Name</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for file in uploaded_files %}
            <tr>
                <td>{{ file.filename }}</td>
                <td>{{ file.upload_time }}</td>
                <td>
                    <!-- Link to download the file -->
                    <a href="{{ url_for('admin.download_conference', filename=file.filename) }}"
                        class="btn btn-primary">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add a 'Back to Upload' button for navigation -->
{% if current_user.is_authenticated and current_user.is_admin %}
<a href="{{ url_for('admin.load_conference') }}" class="btn btn-secondary">Back to Upload</a>
{% else %}
<a href="{{ url_for('main.index') }}" class="btn btn-secondary">Back to Upload</a>
{% endif %}

{% endblock %}