{% extends 'base.html' %}

{% block head %}
<title>Panel Utilisateur</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="user-info">
        <h2>Personal Informations</h2>
        {% if user.profile_image %}
        <img src="{{ url_for('static', filename='uploads/' ~ user.profile_image) }}" alt="User Image">
        {% else %}
        <p>No image available</p>
        {% endif %}
        <p><strong>Name:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Matricule:</strong> {{ user.matricule }}</p>
        <p><strong>Shift:</strong> {{ user.shift }}</p>
    </div>

    <h1 style="text-align: center">Task Master</h1>

    {% if current_user.is_authenticated %}
    <p style="text-align: center">
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </p>
    {% endif %}

    <div class="text-center mt-4">
        <a href="{{ url_for('main.task_master') }}" class="btn btn-primary">Go to Task Master</a>
        <a href="{{ url_for('admin.conference') }}" class="btn btn-primary">Conference</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}