{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center">Conference File Content</h1>

<div class="table-responsive">
    {% for sheet in sheets_data %}
    <h2>{{ sheet.sheet_name }}</h2> <!-- Display the sheet name -->
    <table class="table table-striped">
        <thead>
            <tr>
                {% for header in sheet.data[0] %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in sheet.data[1:] %}
            <!-- Skip the header row -->
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

<!-- Add a 'Back' button for navigation -->
<a href="{{ url_for('admin.conference') }}" class="btn btn-secondary">Back</a>

{% endblock %}